@using PresentationLayer.Data.Implementation
@using PresentationLayer.Data
@inject IAccountService AccountService


<h3>AccountBalance</h3>
<h4>@balance</h4>

@code {
    float balance = 0;
    
    protected async override Task OnInitializedAsync()
    {
        balance = await AccountService.getAccountBalance(1);

    }
    
}