@page "/CreateAccount"
@using PresentationLayer.Models
<h3>Create your account</h3>

<EditForm Model="newViaEntity" OnValidSubmit="@CheckEntity">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        VIA ID:<br/>
        <InputNumber @bind-Value="newViaEntity.ViaId"/>
    </div>
    <div class="form-group">
        VIA password:<br/>
        <InputText @bind-Value="newViaEntity.Password"/>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Find Account</button>
    </p>
</EditForm>

@code {
    private ViaEntity newViaEntity = new ViaEntity();
    

    private void CheckEntity()
    {
        Console.WriteLine(newViaEntity.ViaId);
    }

}