@page "/Facility"
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Facility</h3>

<AuthorizeView>
    <p>Haccount id @context.User.Identity.Name</p>
    <p>Role: is @context.User.FindFirst(claim => claim.Type.Equals("Role")).Value</p>
</AuthorizeView>