@page "/GetUsers"
@using PresentationLayer.Data
@using Models
@inject IUserService UserService

@if (user == null)
{
    
    <p>Loading</p>
}
else
{
    <p>@user.UserId</p>
}

<h3>GetUsers</h3>

@code {
    private User user;
    
    protected async override Task OnInitializedAsync()
    {
        user = await UserService.GetUserByIdAsync(1);
        
    }

}