@page "/Member"
@using PresentationLayer.Data
@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Member</h3>

<AuthorizeView>
    <p>Has account id @context.User.Identity.Name</p>
    <p>Role is: @context.User.FindFirst(claim => claim.Type.Equals("Role")).Value</p>
</AuthorizeView>
    <label>Balance of the account: @balance kr.</label><button @onclick="getBalance">Update</button>

@code {
    
    private string balance = "";

    protected override async Task OnInitializedAsync()
    {
       await getBalance();
        
    }

    public async Task getBalance()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        int id = Int32.Parse(user.Identity.Name);
        balance = await AccountService.GetAccountBalance(id);
    }
}